
<% if flash.has?(:message) %>
		<div class="col-sm-6 offset-sm-3">
			<% flash[:message].each do |msg| %>
			<div class="alert alert-danger text-center"><%= msg %></div>
			<% end %>
		</div>
<% end %>

<div class="col-sm-6 offset-sm-3">
	<h1>Application for: <%= current_user.name %></h1>
	<form action="/applications/<%= @application.id %>" method="POST">
		<input type="hidden" name="_method" value="PATCH">
		<div class="form-group">
			<label for="institution_select">Select Institution</label>
			<select class="form-control" id="institution_select" name="application[institution_id]">
				<% @institutions.each do |inst| %>
				<option value="<%= inst.id %>" <%= 'selected' if inst.id == @application.institution_id %>><%= inst.name %></option>
				<% end %>
			</select>
		</div>

		<div class="form-group">
			<label for="submission_call">Submission Call Title</label>
			<input type="text" class="form-control" name="application[submission_call]" placeholder="Submission Call Title" value="<%= @application.submission_call %>">
		</div>
		
		<div class="form-group">
			<label for="artist_statement">Artist Statement</label>
			<textarea id="artist_statement" class="form-control" rows="3" placeholder="Artist Statement" name="application[statement]"><%= @application.statement %></textarea>
		</div>
		
		<div class="form-group">
			<label for="photo_url">URL of Work Sample Image</label>
			<input type="text" placeholder="image url" class="form-control" id="photo_url" name="application[photo_url]" value="<%= @application.photo_url %>">
		</div>
		

		<input type="submit" class="btn btn-outline-secondary" value="Save">
	</form>
	<form action="/applications/<%= @application.id %>" method="POST" class="mt-3">
		<input type="hidden" name="_method" value="DELETE">
		<button type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> Delete</button>
	</form>
</div>
